/*Developer: Nelson Zhou, IS117003, Fall 2022*/

div{
    font-size: 105%;
    color: white;
    padding-left: 20px;
    text-align:center;

}
header {
    padding: 1.5em 0 5.5em 0;

    background: linear-gradient(to right, blue, pink);
}
.navbar-brand{
    font-size: 70px;
    text-align:center;
    font-family: Blippo, fantasy;
    color: white;
    padding: .5em 0 .5em 0;
}
body{
    background-color: #F7CAC9;
    margin:0;
    height: auto;
}
.container{
    dispaly:flex;
}
/*section{
    margin: auto;
    width: 900px;
    padding: 40px 10px 20px 40px;
    font-family: Andale Mono, monospace;
}
section h3 {
    font-size: 125%;

}
section h2 {
    font-size: 105%;

}*/


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}